@mixin displayFlex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin positionAbsoluteTopLeft($top, $left, $zIndex) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $zIndex;
}
