{
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "singleAttributePerLine": true,
  "bracketSpacing": true
}
